#grid{
    background-color:black;
    color:white;
    height:660px;
    text-align:center;
    width: 20%
}

header{
background-size: cover;
	background-image: url(images/st.jpg);
    height: 659px;
}